
.padd-top {
    padding-top: 40px;
}

.padd-p{

    padding: 20px;
}

.icon-header {
    font-size: 6em;
    color: mediumvioletred;
    padding-bottom: 20px;
}

.img-header {
    height: 100px;
    width: 100px;
}
